*body {
  font-family: sans-serif; /* Choose a font that suits your style */
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Background color of the page */
}

.container {
  text-align: center;
  width: 80%;
  margin: auto; /* Center the container */
  overflow: hidden; /* Clear floats */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ppic {
  border-radius: 50%; /* Makes the image round */
  width: 150px; /* Adjust size as needed */
  height: auto;
  grid-column: span 6;
  text-align: right;
}
#dpic{
  grid-column: span 6;
  text-align: right;
}

#ddesc {
  padding-top: 40px;
  padding-left: 20px;
  grid-column: span 6;
}

h1, h2 {
  color: #333; /* Text color */
}

h1 {
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-style: italic;
  color: #999;
  font-size: 18px;
  padding: 0;
  margin: 5px 0 10px 0;
}

.iico {
  width: 30px; /* Size of icons */
  height: auto;
  margin: 0 10px;
}

.iico:hover {
  opacity: 0.8; /* Slight fade effect on hover */
}


hr {
  border: 0;
  height: 1px;
  background: #333; /* Color of the horizontal line */
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .row {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: center;
  }

  .container {
      width: 95%;
  }
}

