*body {
  font-family: Arial, sans-serif; /* Choose a font that suits your style */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Background color of the page */
}

.container {
  text-align: center;
  width: 80%;
  margin: auto; /* Center the container */
  overflow: hidden; /* Clear floats */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ppic {
  border-radius: 50%; /* Makes the image round */
  width: 150px; /* Adjust size as needed */
  height: auto;
}

#ddesc {
  text-align: center; /* Or 'center' depending on your preference */
}

h1, h2 {
  color: #333; /* Text color */
}

h1 {
  font-size: 2em; /* Larger text for main heading */
}

h2 {
  font-size: 1.2em; /* Smaller text for subheading */
}

.iico {
  width: 30px; /* Size of icons */
  height: auto;
  margin: 0 10px;
}

.iico:hover {
  opacity: 0.8; /* Slight fade effect on hover */
}


hr {
  border: 0;
  height: 1px;
  background: #333; /* Color of the horizontal line */
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .row {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: center;
  }

  .container {
      width: 95%;
  }
}

