<footer>
    <div class="social-links">
        <a href="https://github.com/danielsbrown3" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/username" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkedin.com/in/username" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }} Daniel Brown. All rights reserved.</p>
</footer> 